@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="500px">
            <MudAvatar Color="Color.Transparent" Image="assets/supralogo.jpg" Style="width:50px; height:50px;display:block;margin-left:auto;margin-right:auto;" />


            @Body
        </MudPaper>
    </div>
</MudContainer>
@code 
{ 
    private MudTheme _currentTheme = new LoginTheme();
}

